{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": "esnext",
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  }
}
