.custom-input[data-type="select"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

    .modal-trigger {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
}