@import '../../variables';
@import '../../bootstrap/mixins/breakpoints';

.InputSearch {
    min-width: 8rem;
    width: 100%;

    .Button {
        --Button-color: var(--Input-accent-500) !important;
        --Button--hover-accent: var(--Input-accent-500) !important;
    }
}

.InputSearch--active .InputText {
    border-bottom-left-radius: 0px !important;
}

.InputSearchHeader {
    margin-bottom: 0.5rem;

    @media(min-width: breakpoint-min($breakpoint-inline-contextmenu)) {
        display: none;
    }

    .InputText {
        background: var(--primary-800) !important;
    }
}


.Modal--visible .InputSearch__results .ContextMenu__items {
    border-top-left-radius: 0px !important;
}

.InputSearch__results .ContextMenu__items {
    min-width: 12rem;
}