.custom-input[data-type="time"] {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--bkg-input-time);
    border: var(--brd-input-time);
    border-radius: var(--rad-input-time);
    color: var(--clr-input-time);
    width: fit-content;

    input {
        background: transparent !important;
        color: inherit !important;
        display: inline-block !important;
        width: 2.25em;
        text-align: center;
        cursor: inherit;
            
        &:first-child {
            padding-right: 0;
        }

        &:last-child {
            padding-left: 0;
        }
    }
    
    &.custom-input-plain {
        background: transparent !important;

        input {
            padding: 0 !important;
            width: 1.9ch !important;
        }
    }
}