@import '../../variables.scss';

.InputSlider {
    width: 100%;
    height: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    .InputSlider__track {
        width: 100%;
        height: 0.5rem;
        background: var(--InputSlider__track-background);
        border-radius: var(--InputSlider__track-border-radius);

        &.InputSlider__track-0 {
            background: var(--Input-accent-700);
        }
    }

    .InputSlider__thumb {
        height: 100%;
        width: 1.25rem;
        position: absolute;
        top: 0;
        background: var(--Input-accent, var(--InputSlider__thumb-background));
        border-radius: var(--InputSlider__thumb-border-radius);
    }
}