.InputText {
    background: var(--InputText-background);
    border: var(--InputText-border);
    border-radius: var(--InputText-border-radius);
    box-shadow: var(--InputText-box-shadow);
    padding: var(--InputText-padding);
    color: var(--InputText-color);
    width: 100%;
    outline: none;
    width: 100%;

    &.InputText--secondary {
        --InputText-background: var(--primary-800);
    }
}

.InputText-wrapper {
    width: 100%;
}