#root[data-page^="recordings"] {
    .recordings-graph {
        min-height: 100%;
        position: relative;

        .recordings-graph-canvas {
            position: relative;
        }
    }

    .recordings-graph-sidebar {
        min-width: 10em;
    }
}