.AdminLog {
    --AdminLog__message-offset: 2rem;
    --AdminLog__message-column-gap: 0.5rem;

    &.container {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        grid-column-gap: var(--AdminLog__message-column-gap);

        @media(max-width: 767.98px) {
            display: block;

            span {
                display: block;
            }

            .AdminLog__message__status {
                display: inline-block;
                width: var(--AdminLog__message-offset);
            }
            
            .AdminLog__message__time {
                display: inline-block;
                height: 1.5rem;
            }

            .AdminLog__message__content {
                margin-bottom: 0.75rem;
                margin-left: var(--AdminLog__message-offset);
            }
        }
    }
}