@import '../variables';

#root[data-page^="flows"] {
    .flow-class { 
        .flow-class-select-threshold {
            font-size: var(--fs-sm);
            color: var(--text-muted);
            margin-top: auto;
        }

        .flow-groups {
            margin-left: calc(#{map-get($fs-icon, md)} + var(--bs-gutter-x));

            .flow-group {
                align-items: center;
                justify-content: start;

                &:last-of-type {
                    border-bottom: unset;
                }

                .flow-block {
                    height: 100%;

                    .flow-block-parameter {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: start;

                        input {
                            background: var(--clr-primary-lt);
                            border-radius: var(--rad-input-text);
                        }

                        .flow-block {
                            border: 1px solid var(--clr-primary-dkr);

                            .tile-title > .flow-block-text:first-of-type {
                                text-transform: lowercase;
                            }
                        }
                    }

                    &.flow-block-placeholder {
                        border: 1px dashed var(--blue-500);
                    }
                    
                    .tile-title {
                        column-gap: 0.25em !important;

                        * {
                            font-weight: inherit !important;
                        }
                    }

                    .tile-footer .icon {
                        min-width: unset;
                        width: auto;
                        justify-content: start;
                        margin-right: $spacer-1;
                    }

                    // &:hover,
                    // &:focus {
                    //     & .flow-block-parameter::after {
                    //         content: '';
                    //         position: absolute;
                    //         height: 2px;
                    //         background: var(--blue-500);
                    //         left: 0;
                    //         right: 0;
                    //         bottom: 0;
                    //     }
                    // }
                }
            }
        }


        .flow-group-connector {
            position: relative;
            width: 100%;
            z-index: -1;

            &::before {
                content: '';
                width: 100%;
                position: absolute;
                top: calc(50% - 1px);
                border-bottom: 1px solid var(--clr-primary-lt);
            }
            
            .flow-group-operator {
                background-color: var(--App-background);
                padding: $spacer-2;
                position: relative;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                display: inline-block;
            }
        }
    }
}
