.vscode/
.git/
node_modules/
server/storage/cache/**
server/storage/db/**
server/storage/log/**
server/storage/static/**
server/storage/tmp/**
server/storage/extensions/**
server/config/secret.json
server/config/devices.json
server/config/users.json
server/config/flows.json