.Device {
  position: relative;
  z-index: 1;
  transition: 125ms color ease-out;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 125ms opacity ease-out;
    background: linear-gradient(135deg, var(--Device--active-background-start), var(--Device--active-background-stop));
  }
}

.Device--active {
  color: var(--Device--active-color);

  &::after {
    opacity: 1;
  }
}

.Device__display {
  width: 100%;
}
