@import '../variables';
@import '../bootstrap/mixins/breakpoints';

.App {
	display: grid;
	grid-template-areas: 
		'Topbar'
		'main'
		'Navbar';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	@media(min-width: breakpoint-min($breakpoint-vertical-navbar)) {
		grid-template-areas: 
			'Navbar Topbar'
			'Navbar main';
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
	}
}
