@import '../variables';
@import '../mixins/text-overflow-ellipsis';
@import '../bootstrap/mixins/breakpoints';

.Modal.Modal--type-ContextMenu {
    transform: translateY(110%);
    transition: $trst-transform, $trst-opacity;
    
    &.Modal--visible {
        transform: translateY(0);
    }

    > .ContextMenu__items {
        background: var(--ContextMenu-background);
        border-radius: var(--ContextMenu-border-radius);
        border: var(--ContextMenu-border);
        box-shadow: var(--ContextMenu-box-shadow);
        padding: var(--ContextMenu-padding);
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow-y: auto;

        > .ContextMenu__item {
            --Button-accent: var(--ContextMenu__item-accent) !important;
            --Button--hover-accent: var(--ContextMenu__item--hover-accent) !important;
            --Button--active-accent: var(--ContextMenu__item--active-accent) !important;
            width: 100%;
            justify-content: start;
            padding: $spacer-2;

            .ContextMenu__item__thumbnail {
                --_height: 2.4375rem;
                --_width: calc(var(--_height) * 16 / 9);
                border-radius: var(--_rad);
                height: var(--_height);
                width: var(--_width);
                min-width: var(--_width);
                object-fit: cover;
                background: var(--clr-primary-dk);
            }

            .ContextMenu__item__content {
                align-items: start;

                .ContextMenu__item__label {
                    @include text-overflow-ellipsis();
                }

                .ContextMenu__item__description {
                    @include text-overflow-ellipsis();
                    font-size: var(--fs-xs);
                }
            }
        }
    }

    @media(min-width: breakpoint-min($breakpoint-inline-contextmenu)) {
        max-height: 0px;
        transition: $trst-opacity;
        transform: none !important;
        
        --ContextMenu-background: var(--ContextMenu--inline-background);
        --ContextMenu-border-radius: var(--ContextMenu--inline-border-radius);
        --ContextMenu-border: var(--ContextMenu--inline-border);
        --ContextMenu-box-shadow: var(--ContextMenu--inline-box-shadow);
        --ContextMenu-padding: var(--ContextMenu--inline-padding);
        --ContextMenu__item-accent: var(--ContextMenu--inline__item-accent);
        --ContextMenu__item--hover-accent: var(--ContextMenu--inline__item--hover-accent);
        --ContextMenu__item--active-accent: var(--ContextMenu--inline__item--active-accent);

        &.Modal--visible {
            > .ContextMenu__items {
                max-height: 50vh;
            }
        }

        > .ContextMenu__items {
            transition: $trst-size;
            max-height: 0px;
        }
    }

    @media(max-width: breakpoint-max($breakpoint-inline-contextmenu)) {
        // keep position fixed in smaller viewports
        top: unset !important;
        bottom: var(--ContextMenu--inline-margin) !important;
        left: var(--ContextMenu--inline-margin) !important;
        right: var(--ContextMenu--inline-margin) !important;
    }
}