.Icon--type-font-awesome {
    --Icon-outer-size: calc(var(--Icon-size) * 1.25);
    font-size: var(--Icon-size);
    min-height: var(--Icon-outer-size);
    max-height: var(--Icon-outer-size);
    min-width: var(--Icon-outer-size);
    max-width: var(--Icon-outer-size);
    display: flex;
    align-items: center;
    justify-content: center;
}