.InputGroup {
    .TextInput:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .TextInput:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}