@import '../variables';

.Navbar {
    grid-area: Navbar;
    background: var(--Navbar-background);
    min-height: var(--Navbar-height);
    border-top: var(--Navbar-border);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: var(--Navbar-border);
    overflow: hidden;

    @media(min-width: breakpoint-min($breakpoint-vertical-navbar)) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 0.75rem;
        top: 0;
        padding: 0.75rem 0;
        right: unset;
        bottom: 0;
        left: 0;
        min-width: var(--Navbar-width);
        max-width: var(--Navbar-width);
        width: 300px;
        overflow: hidden auto;
        box-shadow: none;
        border-top: none;
        border-right: var(--Navbar-border);

        .Navbar__Button {
            --Button--active-bg: var(--blue-5) !important;
            --Button--active-color: var(--light) !important;
        }
        
    }

    .Navbar__Button {
        --Button-color: var(--text-muted) !important;
        --Button--hover-color: var(--text-light) !important;
        --Button--focus-color: var(--text-light) !important;
        --Button--active-color: var(--blue-6) !important;
    }

    .Navbar__Button.Button--active .Icon {
        font-weight: 600;
    }
}