@import '../variables';
@import '../bootstrap/mixins/breakpoints';

.Navbar {
    grid-area: Navbar;
    background: var(--Navbar-background);
    border-radius: var(--Navbar-border-radius);
    border-top: var(--Navbar-border);
    box-shadow: var(--Navbar-box-shadow);
    min-height: var(--Navbar-height);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    @media(min-width: breakpoint-min($breakpoint-vertical-navbar)) {
        --Icon-size: #{map-get($fs-icon, md)} !important;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 0.75rem;
        top: 0;
        padding: calc(var(--Topbar-height) + 0.75rem) 0 0.75rem 0;
        right: unset;
        bottom: 0;
        left: 0;
        min-width: var(--Navbar-width);
        max-width: var(--Navbar-height);
        width: 10000px;
        overflow: hidden auto;
        box-shadow: none;
    }

    @media(max-width: breakpoint-max($breakpoint-vertical-navbar)) {
        --Navbar-background: var(--Navbar--horizontal-background);
        --Navbar-border: var(--Navbar--horizontal-border);
        --Navbar-box-shadow: var(--Navbar--horizontal-box-shadow);
    }
}