@import '../variables';

.Tile {
    --bs-gutter-x: var(--Tile-padding-x);
    --bs-gutter-y: var(--Tile-padding-y);
    display: grid;
    grid-template-areas: 
        'thumbnail title'
        'thumbnail content';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    background: var(--Tile-background);
    border-radius: var(--Tile-border-radius);
    color: var(--Tile-color);
    height: 100%;
    overflow: hidden;
    padding: var(--Tile-padding-y) var(--Tile-padding-x);

    > .Tile__title {
        grid-area: title;
        font-weight: 600;
        font-size: var(--font-size-md);
    }

    > .Tile__content {
        grid-area: content;
        font-size: var(--font-size-sm);
        color: var(--text-muted);
        margin-top: auto;
    }

    > .Tile__thumbnail {
        grid-area: thumbnail;
        margin-right: var(--Tile-padding-x);

        > img {
            min-height: var(--Tile__thumbnail-img-size);
            max-height: var(--Tile__thumbnail-img-size);
            height: var(--Tile__thumbnail-img-size);
            min-width: var(--Tile__thumbnail-img-size);
            max-width: var(--Tile__thumbnail-img-size);
            width: var(--Tile__thumbnail-img-size);
            object-fit: cover;
            object-position: center center;
            border-radius: calc(var(--Tile-border-radius) - var(--Tile-padding-x));
        }
    }

    .Tile__title {
        flex: 1;
        width: 100%;
    }
}

a.Tile {
    color: inherit;
}

.Tile--size-xs {
    --Tile-padding: 0.5rem;
    min-height: 54px;

    .Tile__title {
        font-size: inherit;
        font-weight: 600;
    }
}
