@import '../variables';

.Tile {
    --bs-gutter-x: var(--Tile-padding);
    --bs-gutter-y: var(--Tile-padding);
    display: flex;
    flex-direction: column;
    background: var(--Tile-background);
    border: var(--Tile-border);
    border-radius: var(--Tile-border-radius);
    box-shadow: var(--Tile-box-shadow);
    padding: var(--Tile-padding) !important;
    column-gap: var(--bs-gutter-x);
    row-gap: var(--bs-gutter-y);
    color: var(--text-primary);
    height: 100%;

    .Tile__title {
        font-weight: 700;
        font-size: var(--fs-h3);
    }
        
    .Tile__icon {
        border-radius: var(--Tile-border-radius);
    }

    .Tile__content,
    .Tile__title {
        flex: 1;
        width: 100%;
    }

    .Tile__content {
        height: 100%;
        // margin-left: var(--_sze-icon-outer);
    }

    .Tile__footer {
        --bs-gutter-x: 0.25rem;
        font-size: var(--fs-xs);
        color: var(--text-muted);
    }

    .modal-trigger {
        .Tile__action {
            margin-left: auto;

            /* hitbox */
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: calc(-1 * var(--pdg-btn));
                bottom: calc(-1 * var(--pdg-btn));
            }
        }

        margin-left: auto;
    }
  
    > .flex-row {
        width: 100%;
        overflow: visible;
    }

    &.btn {
        justify-content: start;
        align-items: start;
        position: static;
    }
}
