@use "sass:list"; 

html {
    // ------------------------------ //
    //             COLORS             //
    // ------------------------------ //

    // List of all colors with their hue value, saturation value, and lightness modifier
    $colors: (
        'primary': (200, 19%, 70%),
        'blue': (210, 79%, 5%),
        'green': (92, 48%, 0%),
        'orange': (30, 100%, 3%),
        'red': (0, 65%, 10%),
        'yellow': (38, 100%, 7%),
        'violet': (282, 68%, 0%),
        'magenta': (336, 78%, 0%),
        'cyan': (186, 100%, 0%),
        'purple': (258, 58%, 0%),
        'brown': (14, 26%, 0%)
    );

    @each $name, $hue-sat-lgt in $colors {
        --theme-#{$name}-hs: #{list.nth($hue-sat-lgt, 1)}, #{list.nth($hue-sat-lgt, 2)};
        --theme-#{$name}-lm: #{list.nth($hue-sat-lgt, 3)};

        @for $i from 1 through 9 {
            --#{$name}-#{$i*100}: hsl(var(--theme-#{$name}-hs), calc(100%/15*#{11 - $i} + var(--theme-#{$name}-lm)));
        };
    };

    // Loading Icon
    --LoadingIcon-color-animation-duration: 2000ms;
    --LoadingIcon-fade-animation-delay: 500ms;
    --LoadingIcon-stroke-1: var(--blue-500);
    --LoadingIcon-stroke-2: var(--green-500);
    --LoadingIcon-stroke-3: var(--yellow-500);
    --LoadingIcon-stroke-4: var(--red-500);
    --LoadingIcon-stroke-5: var(--purple-500);
    --LoadingIcon-stroke-dash-max: 1450;
    --LoadingIcon-stroke-dash-min: 250;
    --LoadingIcon-rotate-start: 270deg;
}