:root[data-theme="blue"] {
	--clr-primary:     hsl(227, 40%, 20%);
	--clr-primary-lt:  hsl(225, 40%, 23%);
	--clr-primary-dk:  hsl(227, 39%, 16%);
	--clr-primary-dkr: hsl(224, 42%, 14%);

    --text-primary: hsl(0, 0%, 100%);
	--text-secondary: hsl(0, 0%, 100%);
	--text-muted: hsl(229, 10%, 58%);

    --clr-blue: hsl(228, 100%, 62%);
    --clr-green: hsl(127, 70%, 62%);
    --clr-orange: hsl(13, 78%, 66%);
    --clr-red: hsl(0, 85%, 67%);
    --clr-yellow: hsl(46, 85%, 67%);

    --clr-pink: hsl(314, 48%, 51%);
    --clr-lime: hsl(146, 30%, 50%);
    --clr-maroon: hsl(331, 34%, 30%);
    --clr-purple: hsl(292, 48%, 42%);
    --clr-teal: #4AD6F6;
    --clr-selection: hsla(0, 0%, 0%, 0.1);
    --clr-box-shadow: hsla(0, 0%, 0%, 0.05);

    --bkg-navbar: var(--clr-primary-dkr);
    --bkg-navbar-btn-active: var(--clr-blue);
    --clr-navbar-btn-active: var(--text-primary);
    --clr-navbar-btn: var(--text-muted);

    --bkg-topbar: var(--clr-primary-dk);
    --bxs-topbar: none;

    --bkg-page: var(--clr-primary-dk);

    --bkg-splash-screen: var(--clr-primary-dk);

    --bkg-tile: var(--clr-primary);
    --bkg-tile-icon: var(--clr-primary-lt);

    @media(max-width: breakpoint-min($breakpoint-vertical-navbar)) {
        --bkg-navbar-btn-active: transparent;
    }
}