html, body, #root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#root {
	display: grid;
	grid-template-areas: 
		'Topbar'
		'main'
		'Navbar';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	@media(min-width: breakpoint-min($breakpoint-vertical-navbar)) {
		grid-template-areas: 
			'Navbar Topbar'
			'Navbar main';
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
	}

	color: var(--text-primary);
	background: var(--App-background);
	font-size: var(--App-font-size);
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}

main {
	grid-area: main;
	padding-top: 0.5rem;
	max-height: 100%;
	overflow: hidden auto;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}

h1, h2, h3 {
	font-weight: 800;
}

h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

ul {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// Hide password reveal button
input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.flex-row, .flex-column {
	column-gap: var(--bs-gutter-x);
	row-gap: var(--bs-gutter-y);
}

// Inert polyfill
[inert] {
  pointer-events: none;
  cursor: default;
}

[inert], [inert] * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}