@import './themes/default'; 

:root {
    @include color-palettes();
}

// Default color scheme
:root {
    color-scheme: light;
    @include neutral-palette('light');

    --text-dark: var(--neutral-19);
    --text-light: var(--neutral-1);
    --text-primary: var(--text-dark);
    --text-primary-inverse: var(--text-light);
}

// Dark color scheme
:root[data-color-scheme="dark"] {
    color-scheme: dark;
    @include neutral-palette('dark');

    --text-dark: var(--neutral-1);
    --text-light: var(--neutral-19);
    --text-primary: var(--text-light);
    --text-primary-inverse: var(--text-dark);
}