.tooltip {
    background: var(--bkg-tooltip);
    border-radius: var(--rad-tooltip);
    border: var(--brd-tooltip);
    box-shadow: var(--bxs-tooltip);
    padding: var(--pdg-tooltip);
    position: fixed;
    pointer-events: none;
    z-index: 500;
    font-size: var(--fs-sm);
    opacity: 0;
    transition: $trst-opacity;

    &.show {
        opacity: 1;
    }
    
    ul li {
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    @media(max-width: breakpoint-max(md)) {
        position: absolute;
        left: unset !important;
        top: 0 !important;
        right: 0 !important;
        transform: none !important;
    }
}