.flex-row,
.flex-column {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
    display: flex !important;
    column-gap: var(--bs-gutter-x) !important;
    row-gap: var(--bs-gutter-y) !important;
    flex-wrap: nowrap;
}

.flex-row {
    align-items: center;
    overflow: auto hidden;
}

.flex-row.full-bleed {
    margin: 0 calc(-1 * var(--main-margin) - 1px);

    & > :first-of-type {
        margin-left: calc(var(--main-margin) + 1px);
    }

    & > :last-of-type {
        margin-right: calc(var(--main-margin) + 1px);
    }
}

.flex-column {
    justify-content: center;
    overflow: hidden auto;
}

.transform-x-100 { transform: translateX(100%) !important; }
.transform-x-n100 { transform: translateX(-100%) !important; }
.transform-y-100 { transform: translateY(100%) !important; }
.transform-y-n100 { transform: translateY(-100%) !important; }

.link-hidden {
    color: inherit !important;
    text-decoration: none !important;
    background: transparent !important;
    height: 100%;
    width: 100%;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
}

