@use 'sass:math';

@function round-precision($num, $precision: 2) {
    $mod: math.pow(10, $precision);
    @return calc(round($num * $mod) / $mod);
}

@function floor-precision($num, $precision: 2) {
    $mod: math.pow(10, $precision);
    @return calc(floor($num * $mod) / $mod);
}

@function ceil-precision($num, $precision: 2) {
    $mod: math.pow(10, $precision);
    @return calc(ceil($num * $mod) / $mod);
}
